/*! fluid-table.css v0.0.1 | MIT License | github.com/amalfra/fluid-table */

.fluid-table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  word-break: break-word;
}

@media only screen and (max-width: 1000px) {
  .fluid-table thead {
    display: none;
  }

  .fluid-table tr {
    display: block;
  }

  .fluid-table td {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    clear: both;
    width: 100% !important;
    max-width: none !important;
    white-space: normal !important;
    text-align: right;
    line-height: 2;
    border: 5px solid #fff;
  }

  .fluid-table td.heading {
    color: #fff;
    background-color: #36393d;
  }

  .fluid-table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}