#sw-container {
  @include container;
  padding: 0 1rem;
}

#swiper-photos {
  margin: 0;
  overflow:hidden;
  width: 100%;
  img {
    max-height: 70%;
  }
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 60px;
  cursor: pointer;
  text-decoration: none;
  
  p {
    text-align:center;
    color: #000000;
  }

  embed {
    height: 50px;
    pointer-events: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: #c6e1d5;
}

.swiper-pagination-bullet {
  background-color: #c6e1d5;
}