/* iGEM Barcelona UPF CRG Stylesheet */

/*Color variables*/
:root {
    --main-color:#f2f3f4;
    --var1-color: #99CFB2;
    --var2-color: #495F7F; 
    --hovered-color: #589EFF;
    --menu-clicked-color: #AFAFB0;
}


/*Defaults*/
* {
    font-family: "roboto_monoregular";
}

/*Body Style*/
body {
    margin: 1em;
    background-color: var(--main-color);
}

/*Page Template*/
.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-gap: 1em;
}

/*Main Areas*/
.header { grid-area: header; }
.main { grid-area: main; }
.footer { 
    grid-area: footer; 
    grid-template-areas:
    'contact_media copyright sponsors';
    display: inline;
}

/*Social Media*/
.twitter { grid-area: twitter; }
.instagram { grid-area: instagram; }


/*General Styling*/
.header>img,.header>div{
    display: inline-block;
    vertical-align: middle;
}

.footer>img{
    vertical-align: middle;
}

