/* iGEM Barcelona UPF CRG Stylesheet */
body{
    margin: 20;
    padding: 5;
    font-family: "roboto_monomedium";
    color: #525252;
    background: transparent;
    line-height: 0%;
}

.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.twitter {grid-area: twitter; }
.instagram {grid-area: instagram; }
.footer { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr, 6);
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'footer footer footer footer instagram twitter';
}
.header{
    width: 100%;
}
.header>img,.header>h1{
    display: inline-block;
    vertical-align: middle;
}

.menu {
    width: 100%;
    display: inline-block;
}

.dropdownbtn { 

}
.dropdown { 

}
.dropdown-content {

}

.footer{
    display: inline;
}
.footer>img{
    vertical-align: middle;
}
.title {
    font-family: "roboto_monobold";
}

.navlist{
    
}

h1{
    font-family: "roboto_monobold";
    color: #000000;
}
h2{

}
h3{

}
h4{
    
} 